input{
    width: 30%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
  color: #015665;
  padding: 6px;
  border-bottom: 1px solid #74b9f5;
  border-top: none;
  border-right: none;
  border-left: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  outline: none;
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.button{
     font-size: 1em;
  display: inline-block;
  color: #015665;
}
body{
    background: #F0F8FF;
    color:darkcyan;
    font-size: 20px;
}
th, td {
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: left;
}
 .busid{
   margin: 1%;
   padding:1%
 }
 .home{
   font-size: 230%;
   margin-left: 40%;
    margin-block-start: 8%;
 }
 body {
  background-image: url("units.jpg");
  background-color: #cccccc;
  background-size:100%;
  background-repeat: no-repeat;
}
.homebutton{
    margin-left: 40%;
    display: inline-block;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    color: black;
    background: #ddd;
    font: 12px Verdana;
    padding: 20px; 
    text-align: center;
}
.rentbutton{
  margin-left: 1%;
  display: inline-block;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  color: black;
  background: #ddd;
  font: 12px Verdana;
  padding: 20px; 
  text-align: center; 
}
.link{
  margin-left: 6%;
  padding:-4%;
 
}
.register{
  margin-left: 1%;
  padding:-2%;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
