input[type=text] {
    width: 20%;
  font-family: sanFranciscoBold;
  color: #015665;
  padding: 3px;
  border-bottom: 1px solid #74b9f5;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
}
.button{
     font-size: 1em;
  display: inline-block;
  color: #015665;
}
body{
    background: #F0F8FF;
    color:black;
}
th, td {
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: left;
}
 .busid{
   margin: 1%;
   padding:1%
 }
 .home{
   font-size: 230%;
   margin-left: 40%;
    margin-block-start: 8%;
 }
 body {
  background-image: url("units.jpg");
  background-color: #cccccc;
  background-size:100%;
  background-repeat: no-repeat;
}
.homebutton{
  margin-left: 40%;
    display: inline-block;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    color: black;
    background: #ddd;
    font: 12px Verdana;
    padding: 20px; 
    text-align: center;
}
.rentbutton{
  margin-left: 1%;
  display: inline-block;
  border: 0;
  text-decoration: none;
  cursor: pointer;
  color: black;
  background: #ddd;
  font: 12px Verdana;
  padding: 20px; 
  text-align: center; 
}
.link{
  margin-left: 6%;
  padding:-4%;
 
}
.register{
  margin-left: 1%;
  padding:-2%;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
